
{{ form_start(form, {'attr': {'id': 'frmNewSaila'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.izena) }}

<div style="display: none2">
    {{ form_end(form) }}
</div>
{{ form_end(form) }}
