{% extends 'base.html.twig' %}

{% block body %}
    <h1>Konpentsatuaks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Noiz</th>
                <th>Hasi</th>
                <th>Egunak</th>
                <th>Orduak</th>
                <th>Deskribapena</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Contentchangedby</th>
                <th>Abiatua</th>
                <th>Amaitua</th>
                <th>Egutegian</th>
                <th>Oharra</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for konpentsatuak in konpentsatuaks %}
            <tr>
                <td><a href="{{ path('konpentsatuak_show', { 'id': konpentsatuak.id }) }}">{{ konpentsatuak.id }}</a></td>
                <td>{{ konpentsatuak.name }}</td>
                <td>{% if konpentsatuak.noiz %}{{ konpentsatuak.noiz|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if konpentsatuak.hasi %}{{ konpentsatuak.hasi|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ konpentsatuak.egunak }}</td>
                <td>{{ konpentsatuak.orduak }}</td>
                <td>{{ konpentsatuak.deskribapena }}</td>
                <td>{% if konpentsatuak.created %}{{ konpentsatuak.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if konpentsatuak.updated %}{{ konpentsatuak.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ konpentsatuak.contentChangedBy }}</td>
                <td>{% if konpentsatuak.abiatua %}Yes{% else %}No{% endif %}</td>
                <td>{% if konpentsatuak.amaitua %}Yes{% else %}No{% endif %}</td>
                <td>{% if konpentsatuak.egutegian %}Yes{% else %}No{% endif %}</td>
                <td>{{ konpentsatuak.oharra }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('konpentsatuak_show', { 'id': konpentsatuak.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('konpentsatuak_edit', { 'id': konpentsatuak.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('konpentsatuak_new') }}">Create a new konpentsatuak</a>
        </li>
    </ul>
{% endblock %}
