{% extends 'base.html.twig' %}

{% block headline %}{{ 'Ordu konpentsatuak' | trans }} {% endblock  %}

{% block content_row %}

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'frmKonepntsatuak'} }) }}
            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Langilea' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiz' | trans }}</label>
                <div class="col-sm-7">

                    <div id="fetxa-inline"></div>
                    <div style="display: none;">
                        {{ form_widget(form.fetxa, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Guztira zenbat <strong>ordu</strong>' | trans | raw }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.orduak, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="form-group">
                <label for="appbundle_eskaera_oharra" class="col-sm-4 control-label">{{ 'Azalpena' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.oharra, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button  id="btnSubmitKonpentsatuak" type="button" class="btn btn-primary">{{ 'Lortu inprimatika' | trans }}</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="display: none">
                {{ form_end(form) }}
                <input id="txtJornada" type="text" value="{{ calendar.getHoursDay }}">
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script language="JavaScript">
        $('#btnSubmitKonpentsatuak').on('click', function () {
            let ongi = true;

            const hasi = $("#appbundle_konpentsatuak_fetxa").val();
            if (hasi.length === 0) {
                bootbox.alert('Noiz zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            const orduak = $("input[name='appbundle_konpentsatuak[orduak]']").val();
            if (orduak.length === 0) {
                bootbox.alert('Orduak zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            const noiz = $("input[name='appbundle_konpentsatuak[oharra]']").val();
            if (noiz.length === 0) {
                bootbox.alert('Azalpena zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }


            if ( ongi ) {
                $('#frmKonepntsatuak').submit();
            }


        });
    </script>
{% endblock %}