<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url('/css/bootstrap.css') }}">
    <head>
        <meta charset=utf-8/>
        <style>
            div,p {
                font-size: 18px !important;
            }
            .small {
                font-size:12px !important;
            }
        </style>
    </head>
<body>

<div class="container">

    <div class="row">
        <div class="col-xs-2">
            <img src="{{ absolute_url('/img/armarria.jpg')}}" alt="Pasiako Udaleko armarria">
        </div>
        <div class="col-xs-8">
            <h1 class="text-center">ORDU KONPUNTSATUEN ESKAERA</h1>
        </div>
        <div class="col-xs-2">
            <p class="small">
                IFK/CIF P2006900A
                Tel. 943 344034
                Donibane kalea, 19
                20110 Pasaia
                GIZA BALIABIDEAK
                ANTOLAKUNTZA
                Tel. 943 345361
                pertsonal@pasaia.net
            </p>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-4">&nbsp;</div>
        <div class="col-xs-8">
            <strong>Langilea &nbsp;&nbsp;</strong>{{ konpentsatuak.user.displayname }}
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            <strong>Baimen mota &nbsp;&nbsp;</strong>{{ konpentsatuak.type.name }}
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            <strong>Eguna &nbsp;&nbsp;</strong>{{ konpentsatuak.noiz | date('Y-m-d') }}
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            <span>Guztira zenbat egun edo ordu &nbsp;&nbsp;</span>{{ konpentsatuak.orduak }}
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">Pasaian, {{ konpentsatuak.noiz | date('Y-m-d') }}</p>
        </div>
    </div>
        <div class="row">&nbsp;</div>
        <div class="col-xs-12">
            <p class="text-center">ESKATZAILEAREN SINDATURA</p>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>




    <div class="row">&nbsp;</div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">SAILEKO ZINEGOTZI DELEGATUA</p>
            <p class="text-center">Ados</p>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">ANTOLAKUNTZA ETA GIZA BALIABIDEEN TEKNIKARIA</p>
            <p class="text-center">Ados</p>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <hr>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">Lore Suárez</p>
            <p class="text-center">GIZA BALIABIDEETAKO ZINEGOTZI DELEGATUA</p>
            <p class="text-center">Ados</p>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <hr>
</div>

<script>
//    window.print()
</script>

</body>
</html>
