{% extends 'base.html.twig' %}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ 'Langileen zerrenda' | trans }} {% endblock %}

{% block content_row %}

    <form id="frmCompare" method="post" action="{{ path('admin_urteko_balantzea') }}">
        <input id="txtUsers" type="hidden" name="users" value="" title="Users">
        <label>Urtea: {{ year }}
            <input type="text" name="year" value="{{ year }}">
        </label>
        <input type="submit" value="{{ 'Onartu'|trans }}">
    </form>

    <table id="table"

           data-id-field="id"
           data-classes="table table-hover table-condensed"
           data-striped="true"

           data-pagination="true"
           data-page-size="15"
           data-search="true"

           data-sort-name="name"
           data-sort-order="asc"

           data-icon-size="sm"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-editable-url="/my/editable/update/path"
           data-toolbar="#toolbar"
           data-show-export="true"
           data-export-types="['csv','excel', 'pdf']"
           data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

        <thead>
        <tr>
            <th data-halign="left" data-align="left" data-field="username" data-sortable="true">{{ 'Erabiltzailea' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="firstName" data-sortable="true">{{ 'Nombre' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="saila"     data-sortable="true">{{ 'Saila' | trans }}</th>
            <th data-halign="left" data-align="left">{{ 'Urteko orduak' | trans }}</th>
            <th data-halign="center" data-align="center">{{ 'Opor orduak' | trans }}</th>
            <th data-halign="center" data-align="center">{{ 'Norberarentzako orduak' | trans }}</th>
            <th data-halign="center" data-align="center">{{ 'Konpentsatutako orduak' | trans }}</th>
            <th data-halign="center" data-align="center"></th>
        </tr>
        </thead>
        <tbody>
{#        {% for result in results if result.user.has('firstName') and result.user.has('lastName') %}#}
        {% for result in results  %}
            <tr>
                <td>
                        {{ result.user.username }}
                </td>
                <td>
                        {{ result.user.displayname }}
                </td>
                <td>
                        {{ result.user.department }}
                </td>
                <td>
                    {{ result.hoursYear }} /
                    {% if result.template is not null %}
                        {{ result.template.hoursYear }}
                    {% else %}
                        -
                    {% endif %}</td>
                <td>
                    {{ result.hoursFree }} /
                    {% if result.template is not null %}
                        {{ result.template.hoursFree }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {{ result.hoursSelf }} /
                    {% if result.template is not null %}
                        {{ result.template.hoursSelf }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ result.hoursCompensed }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>
        var $table = $( "#table" ), selections = [];

        function initTable() {
            $table.bootstrapTable( {
                height: getHeight()
            } );
            $table.bootstrapTable( "uncheckAll" );
        }

        function getHeight() {
            var winh = $( window ).height();
            var h2h = $( "h2" ).outerHeight( true );
            var fooh = $( "footer" ).outerHeight( true );
            return winh - h2h - fooh - 200;
        }

        $( function () {
            initTable();
        } );
    </script>
{% endblock %}
