<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        {{ form_start(form, {'attr': {'id': 'frmMessage'}}) }}
                {{ form_row(form.user) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
        {{ form_end(form) }}
    </div>
    <div class="col-md-1"></div>
</div>
