{% extends 'base.html.twig' %}

{#{% block head_script %}#}
{#    {{ parent() }}#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>#}
{#    <script>#}
{#        console.log(document)#}
{#        document.getElementById("exportarExcel").addEventListener("click", function () {#}
{#            // Obtén la tabla por su ID#}
{#            var table = document.getElementById("miTabla");#}

{#            // Crea un objeto de trabajo de Excel#}
{#            var workbook = XLSX.utils.table_to_book(table, { sheet: "Hoja1" });#}

{#            // Convierte el libro de Excel a un archivo Blob#}
{#            var blob = XLSX.write(workbook, { bookType: "xlsx", type: "blob" });#}

{#            // Crea un enlace para descargar el archivo Excel#}
{#            var url = URL.createObjectURL(blob);#}
{#            var a = document.createElement("a");#}
{#            a.href = url;#}
{#            a.download = "tabla_excel.xlsx";#}
{#            a.click();#}
{#        });#}
{#    </script>#}

{#{% endblock %}#}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ 'Zerrendak' | trans }} {% endblock %}

{% block content_row %}

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter" aria-hidden="true"></i> FILTROAK
            </button>

            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="row">
                        <form action="{{ path('app_zerrenda_absentismo') }}" class="form-inline" method="post">

                            <div class="row">
                                <div class="col-md-3">
                                    <label for="cmbUrtea">{{ "Urtea" | trans }}</label><br>
                                    <select name="urtea" id="cmbUrtea" class="form-control">
                                        <option value="{{ "now"|date('Y') }} ">{{ "now"|date('Y') }} </option>
                                        {% for u in urteak %}
                                            <option value="{{ u.year }}">{{ u.year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-3" id="divDateRange">
                                    <label>{{ "Datak" | trans }}</label>
                                    <div class="input-daterange input-group" id="filterDatepicker">
                                        <input type="text" class="input-sm form-control" name="data_hasi" />
                                        <span class="input-group-addon">-</span>
                                        <input type="text" class="input-sm form-control" name="data_amaitu" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search fa-lg"></i>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {{ testua }}
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <table data-toggle="table"
                       data-classes="table table-hover table-condensed"
                       data-striped="true"

                       data-pagination="true"
                       data-page-size="25"
                       data-search="true"

                       data-sort-name="name"
                       data-sort-order="asc"

                       data-icon-size="sm"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"

                       data-toolbar="#toolbar"
                       data-show-export="true"
                       data-export-types="['csv','excel', 'pdf']"
                       data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

                    <thead>
                    <tr>
{#                        <th data-halign="center" data-align="left" data-field="name" data-sortable="true">{{ 'Izena' | trans }}</th>#}
{#                        <th data-halign="center" data-align="right" data-field="portzentaia" data-sortable="true">{{ 'Portzentaia' | trans }}</th>#}
{#                        <th data-halign="center" data-align="left" data-field="gutxienekoakdet" data-sortable="true">{{ 'Erabiltzaileak' | trans }}</th>#}
{#                        <th data-halign="center" data-align="center"></th>#}
                        <th data-halign="center" data-align="left"  >Langilea</th>
                        <th data-halign="center" data-align="left"  >Saila</th>
                        <th data-halign="center" data-align="left"  >Hasi</th>
                        <th data-halign="center" data-align="left"  >Amaitu</th>
                        <th data-halign="center" data-align="left"  >Mota</th>
                        <th data-halign="center" data-align="left"  >Orduak</th>
                        <th data-halign="center" data-align="left"  >Bideratua</th>
                        <th data-halign="center" data-align="left"  >Egutegian</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for e in eskaerak %}
                            <tr>
                                <td><a href="{{ path('admin_calendar_edit', { 'id': e.calendar.id }) }}" class="btnEskaera" data-id="{{ e.id }}" target="_blank">
                                        {{ e.name }}
                                    </a>
                                </td>
                                <td>{{ e.user.department }}</td>
                                <td>{{ e.hasi | date('Y-m-d')}}</td>
                                <td>{{ e.amaitu | date('Y-m-d')}}</td>
                                <td>{{ e.type}}</td>
                                <td>{{ e.total}}</td>
                                <td>
                                    {% if e.abiatua == true %}
                                        <label class="label label-success">Bai</label>
                                    {% else %}
                                        <label class="label label-danger">Ez</label>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if e.egutegian == true %}
                                        <label class="label label-success">Bai</label>
                                    {% else %}
                                        <label class="label label-danger">Ez</label>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot_script %}

    {{ parent() }}
    <script >
        $( document ).ready(function() {
            $('.input-daterange input').each(function() {
                $(this).datepicker({
                    format: "yyyy-mm-dd",
                    language: "eu",
                    autoclose: true
                });
            });

        });

    </script>

{% endblock %}
