{% extends 'base.html.twig' %}

{% block content_div_start %}{% endblock %}
{% block content_div_end %}{% endblock %}
{% block headline %}{{ user.displayname }}-ren eskaerak{% endblock %}
{% block content_row %}

    <table id="table"

           data-id-field="id"
           data-classes="table table-hover table-condensed"
           data-striped="true"

           data-pagination="true"
           data-page-size="25"
           data-search="true" data-page-list="[25, 50, 100, 10000000]"

           data-sort-name="displayname"
           data-sort-order="asc"

           data-icon-size="sm"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-toolbar="#toolbar"
           data-show-export="true"
           data-export-types="['csv','excel', 'pdf']"
           data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'
    >

        <thead>
        <tr>
            <th data-halign="left" data-align="left" data-field="id"        data-sortable="true">{{ 'Nº Eskaera' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="calendar.year"        data-sortable="true">{{ 'Urtea' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="type.name" data-sortable="true">{{ 'Mota' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="lizentziamota.name" data-sortable="true">{{ 'Azpimota' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="noiz"      data-sortable="true">{{ 'Noiz eskatua' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="hasi"      data-sortable="true">{{ 'Hasi' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="amaitu"    data-sortable="true">{{ 'Amaitu' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="total"     data-sortable="true">{{ 'Orduak' | trans }}</th>
            <th data-halign="left" data-align="left" data-field="oharra"     data-sortable="true">{{ 'Oharra' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for eskaera in eskaerak %}
            <tr>
                <td>{{ eskaera.id }}</td>
                <td>{{ eskaera.calendar.year }}</td>
                <td>{{ eskaera.type.name }}</td>
                <td>
                    {% if eskaera.lizentziamota %}
                        {{ eskaera.lizentziamota.name }}
                    {% endif %}
                </td>
                <td>{{ eskaera.noiz | date('Y-m-d') }}</td>
                <td>{{ eskaera.hasi | date('Y-m-d') }}</td>
                <td>{{ eskaera.amaitu | date('Y-m-d') }}</td>
                <td>{{ eskaera.total}}</td>
                <td>{{ eskaera.oharra}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>

        var $table = $( "#table" ), selections = [];

        function initTable() {
            $table.bootstrapTable( {
                height: getHeight()
            } );
            $table.bootstrapTable( "uncheckAll" );
        }

        function getHeight() {
            var winh = $( window ).height();
            var h2h = $( "h2" ).outerHeight( true );
            var fooh = $( "footer" ).outerHeight( true );
            return winh - h2h - fooh - 200;
        }

        $( function () {
            initTable();
        } );

    </script>
{% endblock %}
