{#{{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}#}
{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
{{ form_end(form) }}
