{% extends 'base.html.twig' %}

{% block page_header %}
    <div class="page-header hovebutton">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <h3 class="panel-title">{{ calendar.name }}</h3>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-xs btn-default btnPageHeaderEdit" href="javascript:void(0)"
                           style="display: none;">Editatu</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3"><strong>{{ 'Lan orduak: ' | trans }}</strong> {{ calendar.hoursYear}}</div>
                    <div class="col-sm-3"><strong>{{ 'Opor orduak: ' | trans }} </strong> {{ calendar.hoursFree }}</div>
                    <div class="col-sm-3"><strong>{{ 'Norberarentzako: ' | trans }} </strong> {{ calendar.hoursSelf}}</div>
                    <div class="col-sm-3"><strong>{{ 'Konpentsatutakoo: ' | trans }} </strong> {{ calendar.hoursCompensed }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content_content %}

    <div class="row" style="display: none;">
        {{ form_start(delete_form) }}
        <input id="btnDelete" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>


    <div class="modal modal-fade" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ 'Itxi' | trans }}</span></button>
                <h4 class="modal-title">
                    {#{{ username ~ '-ren egutegia' | trans }}#}
                </h4>
            </div>
            <div class="modal-body">

                {{ form_start(edit_form, { 'attr': {'id':'frmEditCalendar','class': 'form-horizontal'} }) }}
                <div class="form-group">
                    <label for="min-date" class="col-sm-3 control-label">{{ 'Izena' | trans }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="min-date"class="col-sm-3 control-label">{{ 'Lan orduak guztira' | trans }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(edit_form.hoursYear, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak guztira' | trans }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(edit_form.hoursFree, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak hartuta' | trans }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(edit_form.hoursSelf, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak hartuta' | trans }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(edit_form.hoursCompensed, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="hidden">
                    {{ form_end(edit_form) }}
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                <button type="button" class="btn btn-primary" id="saveCalendarEditModal">{{ 'Gorde' | trans }}</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal modal-fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">{{ 'Itxi' | trans }}</span></button>
                    <h4 class="modal-title">
                        {{ 'Egutegia' | trans }}
                    </h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <div class="row">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="min-date" class="col-sm-3 control-label">{{ 'Izena' | trans }}</label>
                                <div class="col-sm-8">
                                    <input name="event-name" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="min-date" class="col-sm-3 control-label">{{ 'Mota'|trans }}</label>
                                <div class="col-sm-8">
                                    <select name="event-type" class="form-control">
                                        {% for type in types %}
                                            <option data-color="{{ type.color }}" value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="hours" class="col-sm-3 control-label">{{ 'Orduak' | trans }}</label>
                                <div class="col-sm-8">
                                    <input name="event-hours" type="text" class="form-control">
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="min-date" class="col-sm-3 control-label">{{ 'Fetxak' | trans }}</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-daterange" data-provide="datepicker">
                                        <input name="event-start-date" type="text" class="form-control" value="2012-04-05">
                                        <span class="input-group-addon">&nbsp;-&nbsp;</span>
                                        <input name="event-end-date" type="text" class="form-control" value="2012-04-19">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                    <button type="button" class="btn btn-primary" id="save-event">
                        {{ 'Gorde' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>

    <input type="hidden" id="calendarid" value="{{ calendar.id }}">


{% endblock %}

{% block content_sidebar %}
    {{ render(controller('AppBundle:Type:list' )) }}
{% endblock content_sidebar %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('js/calendar-admin.js') }}"></script>
    <script>
        $(function () {
            $('#saveCalendarEditModal').on('click', function() {
                $('#frmEditCalendar').submit();
            })
        });
    </script>
{% endblock %}