{% extends 'base.html.twig' %}

{% block page_header %}
    <div class="page-header hovebutton">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-11">
                        <h3 class="panel-title">{{ calendar.name }}</h3>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-xs btn-default btnPageHeaderEdit" href="javascript:void(0)"
                           style="display: none;">Editatu</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3"><strong>{{ 'Lan orduak: ' | trans }}</strong><span
                                id="hoursYear">{{ calendar.hoursYear }}</span></div>
                    <div class="col-sm-3"><strong>{{ 'Opor orduak: ' | trans }} </strong><span
                                id="hoursFree">{{ calendar.hoursFree }}</span></div>
                    <div class="col-sm-3"><strong>{{ 'Norberarentzako: ' | trans }} </strong><span
                                id="hoursSelf"> {{ calendar.hoursSelf }}</span></div>
                    <div class="col-sm-3"><strong>{{ 'Konpentsatutakoak: ' | trans }} </strong><span
                                id="hoursCompensed">{{ calendar.hoursCompensed }}</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content_content %}

    <div class="row" style="display: none;">
        {{ form_start(delete_form, {'attr': {'id': 'frmDelCalendar'}}) }}
        <input id="btnDelete" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>


    <div class="modal modal-fade" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">{{ 'Itxi' | trans }}</span></button>
                    <h4 class="modal-title">
                        {#{{ username ~ '-ren egutegia' | trans }}#}
                    </h4>
                </div>
                <div class="modal-body">

                    {{ form_start(edit_form, { 'attr': {'id':'frmEditCalendar','class': 'form-horizontal'} }) }}
                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">{{ 'Izena' | trans }}</label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">{{ 'Lan orduak guztira' | trans }}</label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.hoursYear, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak guztira' | trans }}</label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.hoursFree, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak hartuta' | trans }}</label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.hoursSelf, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="min-date" class="col-sm-3 control-label">{{ 'Opor orduak hartuta' | trans }}</label>
                        <div class="col-sm-7">
                            {{ form_widget(edit_form.hoursCompensed, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="hidden">
                        {{ form_end(edit_form) }}

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                    <button type="button" class="btn btn-primary"
                            id="saveCalendarEditModal">{{ 'Gorde' | trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">{{ 'Itxi' | trans }}</span></button>
                    <h4 class="modal-title">
                        {{ 'Egutegia' | trans }}
                    </h4>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <div class="row">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="min-date" class="col-sm-3 control-label">{{ 'Izena' | trans }}</label>
                                <div class="col-sm-8">
                                    <input name="event-name" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="cmbTypeSelect" class="col-sm-3 control-label">{{ 'Mota'|trans }}</label>
                                <div class="col-sm-8">
                                    <select id="cmbTypeSelect" name="event-type" class="form-control">
                                        <option selected value="-1">Aukeratu bat</option>
                                        {% for type in types %}
                                            <option data-color="{{ type.color }}"
                                                    value="{{ type.id }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtWorkingDaysSelected" class="col-sm-3 control-label">Aukeratuko egun
                                    kopurua:</label>
                                <div class="col-sm-9">
                                    <input name="txtWorkingDaysSelected" id="txtWorkingDaysSelected" type="text"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtJornada" class="col-sm-3 control-label">Jornada orduak: </label>
                                <div class="col-sm-9">
                                    <input name="txtJornada" id="txtJornada" type="text" value="{{ calendar.hoursDay }}"
                                           disabled>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="hours" class="col-sm-3 control-label">{{ 'Orduak' | trans }}</label>
                                <div class="col-sm-8">
                                    <input id="txtTotalHousSelected" data-jornada="{{ calendar.hoursDay }}"
                                           name="event-hours" type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="min-date" class="col-sm-3 control-label">{{ 'Fetxak' | trans }}</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-daterange" data-provide="datepicker">
                                        <input name="event-start-date" type="text" class="form-control"
                                               value="2012-04-05">
                                        <span class="input-group-addon">&nbsp;-&nbsp;</span>
                                        <input name="event-end-date" type="text" class="form-control"
                                               value="2012-04-19">
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;">
                                <div class="form-group">
                                    <label for="oldValue" class="col-sm-3 control-label">oldValue</label>
                                    <div class="col-sm-8">
                                        <input id="oldValue" name="oldValue" type="text" class="form-control"
                                               value="2012-04-19">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                    <button type="button" class="btn btn-primary" id="save-event">
                        {{ 'Gorde' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fade" id="edit-notes">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                                class="sr-only">{{ 'Itxi' | trans }}</span></button>
                    <h4 class="modal-title">
                        {{ 'Oharrak' | trans }}
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <form class="form-horizontal" id="frmNotes">

                            <div class="form-group">
                                <label for="txtJornada" class="col-sm-12 control-label"></label>
                                <div class="col-sm-12">

                                    {{ form_widget(frmnote.note, { 'id': 'txtNotes' }) }}

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Ezeztatu' | trans }}</button>
                    <button type="button" class="btn btn-primary" id="save-calendar-note">
                        {{ 'Gorde' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" class="calendar"></div>


    {% if calendar.template is not null %}
        {% set templateid =  calendar.template.id %}
    {% else %}
        {% set templateid =  -1 %}
    {% endif %}
    <input type="hidden" id="templateid" value="{{ templateid }}">
    <input type="hidden" id="calendarid" value="{{ calendar.id }}">


{% endblock %}

{% block content_sidebar %}
    {{ render(controller('AppBundle:Type:list' )) }}
    <h2><a class="btnEditNote" href="javascript:void(0);" data-toggle="modal"
           data-target="#edit-notes">{{ "Oharrak" | trans }}</a></h2>
    {{ calendar.note | raw }}
{% endblock content_sidebar %}

{% block foot_script %}
    {{ parent() }}
    <script src="{{ asset('js/calendar-admin.js') }}"></script>
    <script>
        $(function () {
            $('#saveCalendarEditModal').on('click', function () {
                $('#frmEditCalendar').submit();
            });

            $('#save-calendar-note').on('click', function () {
                var calendarid = $('#calendarid').val();
                var url = Routing.generate('post_notes', {'calendarid': calendarid});

                var values = {};
                $.each($("#frmNotes").serializeArray(), function (i, field) {
                    values[field.name] = field.value;
                });

                $.ajax({
                    url: url,
                    data: values,
                    type: "POST",
                    success: function () {
                        $("#myAlert").hide();
                        $('#alertSpot').empty();
                        $('#alertSpot').append(
                            '<div id="myAlert" class="alert alert-success alert-dismissible" role="alert">' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                            'Datuak <strong>ongi</strong> grabatuak izan dira.');

                        $("#myAlert").alert();
                        $("#myAlert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#myAlert").slideUp(500);
                        });
                        $('#edit-notes').modal('hide');
                        location.reload();
                    }
                });
            });

        });
    </script>
{% endblock %}