<h3>{{ 'Egutegi berria' | trans }}</h3>

{{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
{{ form_errors(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    <input type="submit" value="{{ 'Gorde' | trans }}" class="btn btn-info"/>
{{ form_end(form) }}
