{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Egutegi berria' | trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Gorde' | trans }}" />
    {{ form_end(form) }}

{% endblock %}
