{% extends 'base.html.twig' %}

{% block head_style %}
    {{ parent() }}
{% endblock %}
{% block headline %}{{ 'Jakinarazpenak' | trans }} {% endblock %}


{% block content_row %}


    <div id="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtratu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('notification_index', {'readed':0}) }}">Guztiak</a></li>
                <li><a href="{{ path('notification_index', {'readed':-1}) }}">Irakurri gabeak</a></li>
                <li><a href="{{ path('notification_index', {'readed':1}) }}">Irakurritakoak</a></li>
            </ul>
        </div>

    </div>
    <table data-toggle="table"
           data-classes="table table-hover table-condensed"
           data-striped="true"

           data-pagination="true"
           data-page-size="25"
           data-search="true"
            {#data-height="300"#}

           data-sort-name="name"
           data-sort-order="asc"

           data-icon-size="sm"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"

           data-toolbar="#toolbar"
           data-show-export="true"
           data-export-types="['csv','excel', 'pdf']"
           data-export-options='{
                 "fileName": "export",
                 "worksheetName": "export",
                 "jspdf": {
                   "autotable": {
                     "styles": { "rowHeight": 20, "fontSize": 10 },
                     "headerStyles": { "fillColor": 255, "textColor": 0 },
                     "alternateRowStyles": { "fillColor": [60, 69, 79], "textColor": 255 }
                   }
                 }
               }'>

        <thead>
        <tr>
            <th data-halign="center" data-align="center" data-field="readed"
                data-sortable="true">{{ 'Irakurria' | trans }}</th>
            <th data-halign="center" data-align="center" data-field="completed"
                data-sortable="true">{{ 'Erantzunda' | trans }}</th>
            <th data-halign="center" data-align="center" data-field="result"
                data-sortable="true">{{ 'Erantzuna' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="name" data-sortable="true">{{ 'Gaia' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="eskaera.hasi"
                data-sortable="true">{{ 'Hasi' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="eskaera.amaitu"
                data-sortable="true">{{ 'Amaitu' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="eskaera.orduak"
                data-sortable="true">{{ 'Orduak' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="created"
                data-sortable="true">{{ 'Noiz jasoa' | trans }}</th>
            <th data-halign="center" data-align="left" data-field="eskaera.oharra"
                data-sortable="true">{{ 'Oharra' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>
                    <a href="javascript:;" class="btnReaded" data-id="{{ notification.id }}">
                        {% if notification.readed %}
                            <span class="label label-success"> Bai</span>
                        {% else %}
                            <span class="label label-danger"> Ez</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="javascript:;" class="btnComplete" data-id="{{ notification.id }}">
                        {% if notification.completed %}
                            <span class="label label-success"> Bai</span>
                        {% else %}
                            <span class="label label-danger"> Ez</span>
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="javascript:;" class="btnComplete" data-id="{{ notification.id }}">
                        {% if notification.result %}
                            <span class="label label-success"> Bai</span>
                        {% else %}
                            <span class="label label-danger"> Ez</span>
                        {% endif %}
                    </a>
                </td>
                <td>{{ notification.name }}</td>
                <td>{{ notification.eskaera.hasi | date('Y-m-d') }}</td>
                <td>{{ notification.eskaera.amaitu | date('Y-m-d') }}</td>
                <td>{{ notification.eskaera.orduak }}</td>
                <td>{{ notification.created | date('Y-m-d') }}

                    <div class="modal fade" id="frmEskaeraModalAccept{{ notification.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="frmEskaeraModalAccept{{ notification.id }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Eskaera</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <ul class="list-inline">
                                                <li><strong>Nork:</strong></li>
                                                <li>{{ notification.eskaera.user.displayname }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <ul class="list-inline">
                                                <li><strong>Fetxak:</strong></li>
                                                <li>{{ notification.eskaera.hasi | date('Y-m-d') }}</li>
                                                <li>/</li>
                                                <li>{{ notification.eskaera.amaitu | date('Y-m-d') }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <ul class="list-inline">
                                                <li><strong>Egunak:</strong></li>
                                                <li>{{ notification.eskaera.orduak }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if notification.eskaera.oharra | length > 0 %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">
                                                <ul class="list-inline">
                                                    <li><strong>Oharrak:</strong></li>
                                                    <li>{{ notification.eskaera.oharra }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Utzi</button>
                                    <button type="button" class="btn btn-danger btnEskaeraEzOnartu"
                                            data-firmaid="{{ notification.firma.id }}"
                                            data-notifyid="{{ notification.id }}">Eskaera EZ onartu
                                    </button>
                                    <button type="button" class="btn btn-primary btnEskaeraOnartu"
                                            data-firmaid="{{ notification.firma.id }}"
                                            data-notifyid="{{ notification.id }}">Eskaera Onartu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {#{% if notification.eskaera.oharra | length > 0 %}#}
                    <button data-toggle="modal" data-target="#frmEskaeraModalAccept{{ notification.id }}">Erantzun</button>
                    {#{% endif %}#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script>
      $(document).ready(function () {

        $('.btnReaded').on('click', function () {
          const that = this;
          const miid = $(this).data('id')
          const url = Routing.generate('put_jakinarazpena_readed', {'id': miid})
          $.ajax({
            url: url,
            method: 'PUT'
          })
            .done(function (data) {
              if ( $(that).children().hasClass('label-danger') ) {
                  $(that).html(' <span class="label label-success"> Bai</span>')
                } else {
                  $(that).html(' <span class="label label-danger"> Ez</span>')
                }
            })
            .fail(function (xhr) {
              bootbox.alert('Akats bat gertatu da.')
            })
        })

        $('.btnEskaeraOnartu').on('click', function () {
          const firmaid = $(this).data('firmaid')
          const jakinarazpenaid = $(this).data('notifyid')
          const url = Routing.generate('put_firma', {'id': firmaid})
          $.ajax({
            url: url,
            method: 'PUT',
            data: {onartua:1}
          })
            .done(function (data) {
              const url2 = Routing.generate('put_jakinarazpena', {'id': jakinarazpenaid})
              $.ajax({
                url: url2,
                method: 'PUT',
                data: {onartua:1}
              }).done(function (data) {
                location.reload()
              }).fail(function (xhr) {
                bootbox.alert('Firma egin da baina jakinarazpena irakurria markatzerakoan akatsa bat gertatu da.')
              })
            })
            .fail(function (xhr) {
              bootbox.alert('Akats bat gertatu da firmatzerakoan.')
            })
        })

        $('.btnEskaeraEzOnartu').on('click', function () {
          const firmaid = $(this).data('firmaid')
          const jakinarazpenaid = $(this).data('notifyid')
          const url = Routing.generate('put_firma', {'id': firmaid})
          $.ajax({
            url: url,
            method: 'PUT',
            data: {onartua:0}
          })
            .done(function (data) {
              const url2 = Routing.generate('put_jakinarazpena', {'id': jakinarazpenaid})
              $.ajax({
                url: url2,
                method: 'PUT',
                data: {onartua:0}
              }).done(function (data) {
                location.reload()
              }).fail(function (xhr) {
                bootbox.alert('Firma egin da baina jakinarazpena irakurria markatzerakoan akatsa bat gertatu da.')
              })
            })
            .fail(function (xhr) {
              bootbox.alert('Akats bat gertatu da firmatzerakoan.')
            })
        })

      })
    </script>

{% endblock %}