{% extends 'base.html.twig' %}

{% block body %}
    <h1>Firmas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Completed</th>
                <th>Orden</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for firma in firmas %}
            <tr>
                <td><a href="{{ path('admin_firm_show', { 'id': firma.id }) }}">{{ firma.id }}</a></td>
                <td>{{ firma.name }}</td>
                <td>{% if firma.completed %}Yes{% else %}No{% endif %}</td>
                <td>{{ firma.orden }}</td>
                <td>{% if firma.created %}{{ firma.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if firma.updated %}{{ firma.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_firm_show', { 'id': firma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_firm_edit', { 'id': firma.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_firm_new') }}">Create a new firma</a>
        </li>
    </ul>
{% endblock %}
