    {{ form_start(edit_form,{'attr': {'id': 'frmEditEskaera' ~ eskaera.id}}) }}
        {#{{ form_errors(edit_form) }}#}
    {#{{ form_end(edit_form) }}#}


    {{ form_start(edit_form,{'attr': {'id': 'frmaddkonpentsatua'}}) }}

    {{ form_errors(edit_form) }}

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Izena' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Mota' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Hasi' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.hasi, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Amaitu' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.amaitu, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Orduak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.orduak, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Noiz' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.noiz, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Sinatzaileak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.sinatzaileak, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="form-group">
        <label for="min-date" class="col-sm-4 control-label">{{ 'Oharrak' | trans }}</label>
        <div class="col-sm-7">
            {{ form_widget(edit_form.oharra, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div style="display: none">
        {{ form_end(edit_form) }}
    </div>