{% extends 'base.html.twig' %}

{% block headline %}{{ 'Eskaeren zerrenda' | trans }} {% endblock  %}

{% block content_row %}

    <div class="row">
        <div class="col-md-2">

            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ "Eskaera berria" | trans }} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    {% for t in types %}
                        <li><a href="{{ path('eskaera_new', { 'q': t.id}) }}">{{ t.name }}</a></li>
                        <li role="separator" class="divider"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-10"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <table id="tableEskaerak" class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ "Izaera" | trans }}</th>
                    <th>{{ "Mota" | trans }}</th>
                    <th>{{ "Hasi" | trans }}</th>
                    <th>{{ "Amaitu" | trans }}</th>
                    <th>{{ "Egunak" | trans }}</th>
                    <th>{{ "Orduak" | trans }}</th>
                    <th>{{ "Orduak Guztira" | trans }}</th>
                    <th>{{ "Bideratua" | trans }}</th>
                    <th>{{ "Gauzatua" | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for eskaera in eskaeras %}
                    <tr>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.id }}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.name }}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.type.name }}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{% if eskaera.hasi %}{{ eskaera.hasi|date('Y-m-d') }}{% endif %}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{% if eskaera.amaitu %}{{ eskaera.amaitu|date('Y-m-d') }}{% endif %}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.egunak }}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.orduak }}</a></td>
                        <td><a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">{{ eskaera.total }}</a></td>
                        <td>
                            <a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">
                                {% if eskaera.abiatua == true %}
                                    <label class="label label-success">Bai</label>
                                {% else %}
                                    <label class="label label-danger">Ez</label>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">
                                {% if eskaera.amaitua == true %}
                                    <label class="label label-success">Bai</label>
                                {% else %}
                                    <label class="label label-danger">Ez</label>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('eskaera_show', { 'id': eskaera.id }) }}">Ikusi</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="6"> Ez dago daturik</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
