{% extends 'base.html.twig' %}

{% block headline %}{{ 'Opor edo baimen eskaera berria' | trans }} {% endblock  %}

{% block content_row %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {#{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}#}
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'frmEskaeraNew'} }) }}
            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Langilea' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Mota' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiztik' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.hasi, { 'attr': {'class': 'form-control cmbFetxaKalc'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiz arte' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.amaitu, { 'attr': {'class': 'form-control cmbFetxaKalc'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Guztira zenbat <strong>egun</strong>' | trans|raw }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.egunak, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Guztira zenbat <strong>ordu</strong>' | trans | raw }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.orduak, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="appbundle_eskaera_oharra" class="col-sm-4 control-label">{{ 'Deskribapena' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.oharra, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>



            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Eskaera data' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.noiz, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Egin klik 'Lortu inprimakia' botoian eta inprimatu dokumentua.</p>
                    <p>Sinatu eta entregatu.</p>
                    <p>&nbsp;</p>
                    <button id="btnSubmit" type="button" class="btn btn-primary">{{ 'Lortu inprimatika' | trans }}</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="display: none">
                {{ form_end(form) }}
                <input id="txtJornada" type="text" value="{{ calendar.getHoursDay }}">
                <input id="hoursFree" type="text" value="{{ calendar.hoursFree }}">
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script language="JavaScript">
        $('#btnSubmit').on('click', function () {
            var ongi = true;

            if ($("input[type=radio]:checked").length === 0) {
                bootbox.alert('Mota zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }

            var hasi = $("input[name='appbundle_eskaera[hasi]']").val();
            if (hasi.length === 0) {
                bootbox.alert('Noiztik zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            var amaitu = $("input[name='appbundle_eskaera[amaitu]']").val();
            if (amaitu.length === 0) {
                bootbox.alert('Amaitu zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            var egunak = $("input[name='appbundle_eskaera[egunak]']").val();
            if (egunak.length === 0) {
                bootbox.alert('Egunak zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            var orduak = $("input[name='appbundle_eskaera[orduak]']").val();
            if (orduak.length === 0) {
                bootbox.alert('Orduak zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }
            var noiz = $("input[name='appbundle_eskaera[noiz]']").val();
            if (noiz.length === 0) {
                bootbox.alert('Noiz zehaztea beharrezkoa da.');
                ongi = false;
                return;
            }


            if ( ongi ) {
                $('#frmEskaeraNew').submit();
            }


        });
    </script>
{% endblock %}