{% extends 'base.html.twig' %}

{% block headline %}{{ 'Opor edo baimen eskaera berria' | trans }} {% endblock  %}

{% block content_row %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Langilea' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Mota' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiztik' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.hasi, { 'attr': {'class': 'form-control cmbFetxaKalc'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiz arte' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.amaitu, { 'attr': {'class': 'form-control cmbFetxaKalc'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Guztira zenbat egun edo ordu' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.orduak, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Eskaera data' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.noiz, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p>Egin klik 'Lortu inprimakia' botoian eta inprimatu dokumentua.</p>
                    <p>Sinatu eta entregatu.</p>
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-primary">{{ 'Lortu inprimatika' | trans }}</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="display: none">
                {{ form_end(form) }}
                <input id="txtJornada" type="text" value="{{ calendar.getHoursDay }}">
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}

{% block foot_script %}
    {{ parent() }}
    <script language="JavaScript">

    </script>
{% endblock %}