{% extends 'base.html.twig' %}

{% block head_style %}

    {{ parent() }}
    <style>
        .datepicker table tr td.disabled,
        .datepicker table tr td.disabled:hover {
            color: #b90000;
        }
        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #ae2424;
            text-transform: uppercase;
        }
    </style>

{% endblock %}

{% block headline %}{{ eskaera.type.name ~ ' ' ~ 'eskaera berria' | trans  | lower }} {% endblock %}

{% block content_row %}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'frmEskaeraNew'} }) }}

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Ikastaroan izena' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'autocomplete': 'null'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiztik' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.hasi, { 'attr': {'class': 'form-control cmbFetxaKalc', 'autocomplete': 'null'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label for="min-date" class="col-sm-4 control-label">{{ 'Noiz arte' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.amaitu, { 'attr': {'class': 'form-control', 'autocomplete': 'null'} }) }}
                </div>
            </div>

            <div class="row">&nbsp;</div>

            <div class="form-group" id="divOrduak">
                <label for="min-date"
                       class="col-sm-4 control-label">{{ 'Ikastaroaren <strong>orduak</strong>' | trans | raw }}</label>
                <div class="col-sm-4">
                    {{ form_widget(form.orduak, { 'attr': {'class': 'form-control', 'autocomplete': 'null'} }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <p class="">Adibidez: Ikastaroa 3 egunekoa bada eta egun bakoitzean 4 ordu, 3 egun x 4 ordu = 12
                        ordu. 12 da ezarri behar dena</p>
                </div>
            </div>

            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>

            <div class="form-group" id="divOrduak">
                <label for="min-date" class="col-sm-4 control-label"></label>
                <div class="col-sm-4">
                    <div style="display: none">{{ form_label(form.ordaindubeharda) }}</div>
                    {{ form_widget(form.ordaindubeharda) }}
                </div>
            </div>

            <div class="form-group divkostua" style="display: none;">
                <label for="appbundle_eskaera_lizentziamota"
                       class="col-sm-4 control-label">{{ 'Kostua' | trans }}</label>
                <div class="col-sm-7">
                    {{ form_widget(form.kostua, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="form-group" id="divOrdainduta" style="display: none">
                <label for="min-date" class="col-sm-4 control-label"></label>
                <div class="col-sm-4">
                    <div style="display: none">{{ form_label(form.ordainduta) }}</div>
                    {{ form_widget(form.ordainduta) }}
                </div>
            </div>

            <div class="form-group" id="divOharrak">
                <label for="min-date" class="col-sm-4 control-label">Ikastaroaren deskribapena: Programa, egunak, ordutegia...</label>
                <div class="col-sm-4">
                    {{ form_errors(form.oharra) }}
                    {{ form_widget(form.oharra) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button id="btnSubmit" type="button"
                            class="btn btn-primary">{{ 'Eskaera gauzatu' | trans }}</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div style="display: none">
                {{ form_end(form) }}
                <input id="txtJornada" type="text" value="{{ calendar.getHoursDay }}">
                <input id="hoursFree" type="text" value="{{ calendar.hoursFree }}">
                <input id="eskaeramota" type="hidden" value="{{ eskaera.type.name }}">
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>


    <input type="hidden" id="txtJaiEgunak" value="{{ jaiegunak |  serialize('json') }}"/>

{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            $("#btnSubmit").on("click", function () {

                var ongi = true;

                var izena = $("input[name='appbundle_eskaera[name]']").val();
                if (izena.length === 0) {
                    bootbox.alert("Izena zehaztea beharrezkoa da.");
                    ongi = false;
                    return;
                }

                var hasi = $("input[name='appbundle_eskaera[hasi]']").val();
                if (hasi.length === 0) {
                    bootbox.alert("Noiztik zehaztea beharrezkoa da.");
                    ongi = false;
                    return;
                }

                var amaitu = $("input[name='appbundle_eskaera[amaitu]']").val();
                if (amaitu.length === 0) {
                    bootbox.alert("Amaitu zehaztea beharrezkoa da.");
                    ongi = false;
                    return;
                }

                var orduak = $("input[name='appbundle_eskaera[orduak]']").val();
                if (orduak.length === 0) {
                    bootbox.alert("Orduak zehaztea beharrezkoa da.");
                    ongi = false;
                    return;
                }

                var orduakGuztira = $("#appbundle_eskaera_total").val();
                if ((orduakGuztira === 0) || (orduakGuztira === "0") || (orduakGuztira === "0.00")) {
                    bootbox.alert("Ikastaroaren ordu kopurua zehaztea falta zaizu.");
                    ongi = false;
                    return;
                }

                if ($('#appbundle_eskaera_ordaindubeharda').prop('checked')) {
                    var balioa = $('#appbundle_eskaera_kostua').val();
                    var parsedValue = parseFloat(balioa);

                    console.log(balioa)
                    console.log(parsedValue)

                    if (!isNaN(parsedValue) && parsedValue >= 0) {

                    } else {
                        bootbox.alert('Ikastaroa ordaindu beharrekoa dela esan duzu baina ez duzu zenbatekoa zehaztu.');
                        ongi = false;
                        return;
                    }
                }

                if (ongi) {
                    $("#frmEskaeraNew").submit();
                }

            });

            if ($('#appbundle_eskaera_ordaindubeharda').prop('checked')) {
                $('.divkostua').show();
                $('#divOrdainduta').show();
            }

            $("#appbundle_eskaera_orduak").blur(function () {
                var orduak = $("#appbundle_eskaera_orduak").val();
                // var lanaldi= $("#txtJornada").val();

                // var resul = orduak * lanaldi;
                // resul = parseFloat(resul);
                orduak = parseFloat(orduak);

                $("#appbundle_eskaera_total").val(orduak.toFixed(2));
            });

            $("#appbundle_eskaera_hasi").datepicker({
                todayBtn: 1,
                autoclose: true,
                format: "yyyy-mm-dd",
                language: '{{ app.request.locale }}'
            }).on('changeDate', function (selected) {
                var fin = $("#appbundle_eskaera_amaitu").val();
                if (fin === "") { // Ez badago datarik zehaztuta
                    var minDate = new Date(selected.date.valueOf());
                    $("#appbundle_eskaera_amaitu").datepicker('setStartDate', minDate);
                }
            });

            $("#appbundle_eskaera_amaitu").datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                language: '{{ app.request.locale }}'
            }).on('changeDate', function (selected) {
                var hasi = $("#appbundle_eskaera_hasi").val();
                if (hasi === "") { // Ez badago datarik zehaztuta
                    var maxDate = new Date(selected.date.valueOf());
                    $("#appbundle_eskaera_hasi").datepicker('setEndDate', maxDate);
                }
            });

            $("#appbundle_eskaera_noiz").datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                language: '{{ app.request.locale }}'
            });

            $("#appbundle_eskaera_ordaindubeharda").on('change', function () {
                if ($(this).prop('checked')) {
                    $('.divkostua').show();
                    $('#divOrdainduta').show();
                } else {
                    $('#appbundle_eskaera_kostua').val("0");
                    $('#appbundle_eskaera_ordainduta').prop('checked', false);
                    $('.divkostua').hide();
                    $('#divOrdainduta').hide();
                }
            });

        });
    </script>
{% endblock %}


